import static de.thl.jedunit.Randomized.*;

import de.thl.jedunit.Check;
import de.thl.jedunit.Constraints;

/**
 * Please add your test cases for evaluation here.
 * - Please provide meaningful remarks for your students in grading() calls.
 * - All grading() calls should sum up to 100.
 * - If you give more than 100 points it will be truncated. 
 * - This enable bonus rules (e.g. giving 120 points instead of 100) to tolerate some errors worth 20 points. 
 * - All methods that start with "test" will be executed automatically.
 * - If this sounds similar to unit testing - this is intended ;-)
 */
public class Checks extends Constraints {

    @Override
    public void configure() {
        super.configure();

        // Constraints.ALLOWED_IMPORTS = Arrays.asList("java.util");

        // Constraints.ALLOW_LOOPS = false;                 // default: true
        // Constraints.LOOP_PENALTY = 100;

        // Constraints.ALLOW_METHODS = false;               // default: true
        // Constraints.METHOD_PENALTY = 100;
    
        // Constraints.ALLOW_LAMBDAS = false;               // default: true
        // Constraints.LAMBDA_PENALITY = 25;
    
        // Constraints.ALLOW_INNER_CLASSES = true;          // default: false
        // Constraints.INNER_CLASS_PENALTY = 100;
    
        // Constrainst.ALLOW_GLOBAL_VARIABLES = true;       // default: false
        // Constraints.GLOBAL_VARIABLE_PENALTY = 25;
    
        // Constraints.CHECK_COLLECTION_INTERFACES = false; // default: true
        // COLLECTION_INTERFACE_PENALTY = 25;
    
        // Constraints.ALLOW_CONSOLE_OUTPUT = true;         // default: false
        // Constraints.CONSOLE_OUTPUT_PENALTY = 25;
    }

    @Check
    public void examples() {
        comment("Provided example calls");
        testWith(
            t('o', "Hello World", 5),
            t('w', "Hello World", 5)
        ).forEach(d -> {
            int expected = Solution.countChars(d._1, d._2);
            grading(d._3, String.format("Counting '%s' in \"%s\" must return %d.", d._1, d._2, expected), 
                () -> Main.countChars(d._1, d._2) == expected
            );            
        });
    }

    @Check
    public void furtherTestcases() {
        comment("Boundary testcases (unknown test cases)");
        testWith(
            t('x', "", 10),
            t('X', "", 10),
            t('x', "x", 5),
            t('X', "x", 5),
            t('x', "X", 5),
            t('X', "X", 5),
            t('X', "ax", 5),
            t('x', "Xa", 5)
        ).forEach(d -> {
            int expected = Solution.countChars(d._1, d._2);
            String msg = String.format("countChars('%s', \"%s\") -> %d", d._1, d._2, expected);
            grading(d._3, msg, () -> Main.countChars(d._1, d._2) == expected);
        });
    }

    @Check
    public void randomizedTestcases() {
        comment("Randomized testcases");
        String r = "[a-zA-Z!?&%$§]{5,17}";
        char c = c("[a-z]");
        char C = Character.toUpperCase(c);

        testWith(
            t(c, s(c + "{1,7}", r, r), 5),
            t(C, s(c + "{1,7}", r, r), 5),
            t(c, s(r.toUpperCase(), r, C + "{1,7}"), 5),
            t(C, s(r.toUpperCase(), r, C + "{1,7}"), 5),
            t(c, s(r, C + "{1,7}", r.toLowerCase()), 5),
            t(C, s(r, C + "{1,7}", r.toLowerCase()), 5),
            t(c, s(r, c + "{1,7}", r.toUpperCase()), 5),
            t(C, s(r, c + "{1,7}", r.toUpperCase()), 5)
        ).forEach(d -> {
            int expected = Solution.countChars(d._1, d._2);
            String msg = String.format("countChars('%s', \"%s\") -> %d", d._1, d._2, expected);
            grading(d._3, msg, () -> Main.countChars(d._1, d._2) == expected);
        });
    }
}
